/* Переменные */
$main-bg-color: #fff;

$chat-header-color: #587A9F;
$chat-footer-color: #f1f1f1;
$chat-header-text-color: #fff;
$chat-border-color: #ddd;

$input-border-color: #ddd;
$input-text-color: #444;

$send-message-button-color: #587A9F;
$send-message-button-text-color: #fff;


$message-border-color: #ddd;
$message-text-color: #444;
$message-date-text-color: #999;