$mainBgColor: #fff;

$chatHeaderColor: #587A9F;
$chatFooterColor: #f1f1f1;
$chatHeaderTextColor: #fff;
$chatBorderColor: #ddd;


$sendMessageButtonColor: #587A9F;
$sendMessageButtonFontColor: #fff;

html, body {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
}
.container {
    position: relative;
    background-color: $mainBgColor;
    padding-top: 15px;
}

.chatContainer {
    width: 600px;
    margin: 0 auto;
    border: 1px solid $chatBorderColor;
    border-radius: 3px;
    &__header {
        height: 50px;
        background-color: $chatHeaderColor;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    &__title {
        margin: 0;
        color: $chatHeaderTextColor;
        line-height: 50px;
        text-align: center;
    }

    &__body {
        padding: 15px;
        max-height: 450px;
        min-height: 450px;
        overflow: scroll;
    }

    &__footer {
        background-color: $chatFooterColor;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
           
    }
}

.chatForm {
    padding: 15px;
    &__input {
        color: #444;
        position: relative;
        font-size: 12px;
        box-sizing: border-box;
        width: 400px;
        outline: none;
        padding: 10px 5px;
        border: 1px solid #ddd;
    }

    &__button {
        margin-left: 10px;
        position: relative;
        border: none;
        background-color: $sendMessageButtonColor;
        color: $sendMessageButtonFontColor;
        padding: 10px 15px;
        font-size: 12px;
        border-radius: 3px;
        &:hover {
            cursor: pointer;
            background-color: lighten($sendMessageButtonColor, 5%);
        }
    }

}

.message {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
    &__text {
        margin: 0;
    }
    &__sender {
        margin-right: 15px;
        font-weight: bold;
    }
    &__body {
        color: #444;
    }
    &__date {
        position: relative;
        top: 3px;
        float: right;
        font-size: 12px;
        color: #999;
    }



}

.footer {
    text-align: center;
    &__text {

    }
    &__link {

    }
}




